			 body{
				 background-color: rgba(195, 99, 99, 0.86)
			 }
			 h1{
				 color: orange;
				 font-size: 90px;
				 text-decoration: underline;
			 }
			 
			 h2{
				 font-size: 22px;
				 color:green;
			 }
			 
			 .small{
				 font-size: 12px;
			 }
			 </style>